:root{
    --hero-height: 500px;
}
.grid{
    display: grid;
    justify-content: center;
  }


.Hero{
    /* background-color: red; */
    /* background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); */
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    height: var(--hero-height);
}
.heroContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "info image";
    /* padding: 20px 0; */
}

.info{
    grid-area: info;
    height: var(--hero-height);
    height: 100%;
}

.image{
    grid-area: image;
    height: var(--hero-height);
}

/* benefits */

.benefitsContent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "one two three";
    grid-area: benefits;

}
section{
    /* padding: 0 auto; */
    padding: 20px 0;
}

.title{
    /* padding: 0 auto; */
    grid-area: title;

}
.benefitOne{
    grid-area: one;
}
.benefitTwo{
    grid-area: two;
}
.benefitThree{
    grid-area: three;
}

.benefitOne,
.benefitTwo,
.benefitThree{
    display: flex;
    justify-content: center;
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "title",
    "benefits";
}

