.benefits{
    padding: 20px 0;
}
.row .container{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.wrapper{
    margin: 0 auto;
    max-width: 960px;
}

.title{
    display: flex;
    justify-content: center;
}

/* Hero */
#hero, #Heard-in{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.hero-content{
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "info image";
    margin: 0 10px;
}

.info{
    margin: auto 0;
    grid-area: info;
}

.main-btn{
    grid-area: btn;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    color: #000428;
    letter-spacing: 1.3px;
    padding: 15px 25px;
    text-transform: uppercase;
    display: inline-block;
    background: #fff;
}

.call{
    background-color: #fff;
    color: #000428;
}
.image{
    margin: 0 auto;
    grid-area: image
}

#hero img{
    max-width: 300px;
}

/* what we do */
.works{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    "example-one example-two example-three";
}

.work{
    display: grid;
    justify-content: center;
    text-align: center;
}

.work svg{
    margin: 0 auto;
    font-size: 3.5rem;
}


/* As heard in */
.examples{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    "example-one example-two example-three";
}

.example{
    display: grid;
    justify-content: center;
    text-align: center;
}

/* BENEFITS */
.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    "benefit-one benefit-two benefit-three";
}

.benefit{
    display: grid;
    justify-content: center;
    text-align: center;
}

.benefit-one{
    grid-area: benefit-one;
}
.benefit-two{
    grid-area: benefit-two;
}
.benefit-three{
    grid-area: benefit-three;
}

@media only screen and (max-width: 768px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "benefit-one"
        "benefit-two" 
        "benefit-three";
    }
    .examples {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "example-one"
        "example-two" 
        "example-three";
    }

}

@media only screen and (max-width: 470px) {
    .main-btn{
        padding: 5px 10px;
    }
}