footer{
    background: #000428;  /* fallback for old browsers */
    color: #fff;
}

footer a{
    color: #fff;
}
footer .wrapper{
    margin: 0 auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    "company resources contact";
    padding: 10px
}

.company{
    grid-area: company;
}

.resources{
    grid-area: resources;
}

.contact{
    grid-area: contact;
}

@media only screen and (max-width: 768px) {
    footer .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "company resources "
        "contact contact";
        text-align: center;

    }

}